.picture{
    width: 120px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 25px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, red 0.36%, orange 102.00%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}


.nav-connect:hover{
    transform: scale(1.05);
}

